<<<<<<< HEAD
﻿@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Movies";
=======
﻿


<div class="container">
    <h2>Movies</h2>
    <div class="row">
        @if (Model.MoviesList != null)
{
    foreach (var movie in Model.MoviesList)
    {
        // 渲染电影详情
    }
}
else
{
    <p>没有可用的电影</p>
>>>>>>> 6e0dce2a32504f855ed2cdc523852821c594ba3a
}

        @foreach (var movie in Model.MoviesList)
        {


            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="@movie.Image" alt="@movie.NomFilm">
                    <div class="card-body">
                        <h5 class="card-title">@movie.NomFilm</h5>
                        <p class="card-text">@movie.Description</p>
                        <p class="card-text">Duration: @movie.Duree</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>